

<main class="hero">
  <div class="header">Hola</div>
   <div class="hero-container">
    <div class="hero-left">
      <h2 class="hero-title">All-in-one Software To <br> Manage Your Business</h2>
  
      <p class="hero-description">Transform your workforce management with Rotasheet's cutting-edge solutions. Designed to streamline HR processes, enhance productivity, and elevate employee experiences, Rotasheet is here to revolutionize your HR operations. Discover the future of workforce management today, and take a proactive step towards improving your employees' experiences.</p>
     </div>
  
     <div class="hero-right">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/GYAB4Td62zI?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
   </div>
  

</main>

<router-outlet />
